<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/articles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Our articles</h1>
    <ol class="list">
    
    </ol>



    <label for="author">Choose author:</label>
    <select name="authorName" id="author" class="author">
       
    </select>
    <div class="form">
        <input type="text" class="add_text" placeholder="Write your articles...">
        <button class="save">Save</button>
    </div>
    <script src="/js/articles.js"></script>
</body>
</html>